/*                                                            */
.member {
    display: inline-block;
    width: 20%;
    height: 10%;
    text-align: center;
    margin: 10px;
    background-color: rgb(88, 113, 146);
    transition: transform 0.2s ease-in-out;
}

.member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.member:hover {
    transform: scale(1.1);
}

#instrutores h1 {
    color: #333;
    text-align: center;
}

#instrutores {
    background-color: bisque;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Chivo Mono", monospace;
    gap: 72px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    transition: 0.3s ease;
}

nav a:hover {
    color: #30edf4;
}

nav:hover a:not(:hover) {
    color: white;
    opacity: 0.3;
    filter: blur(0.8px);
}

footer {
    background-color: #333;
    color: #ffffff;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
}

footer p {
    font-size: 1.2em;
    text-decoration: underline;
}




/*           Suplente           */
/* Set font family and background color */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Style the table */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes shake {

    0%,
    100% {
        translate: 0;
    }

    25% {
        translate: 8px 0;
    }

    75% {
        translate: -8px 0;
    }
}

#nome #busca-nome {
    width: 60%;
    display: flex;
    padding: 6px;
    border-radius: 50px;
    transition: 0.4s;
}


#busca-nome::placeholder {
    color: #333;
    text-align: center;
}

/* Style the table header */
thead {
    background-color: #333;
    color: #fff;
}

th {
    padding: 12px;
    text-align: left;
}

/* Style the table rows */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    padding: 12px;
}

/* Style the checkbox */
input[type=checkbox] {
    transform: scale(1.5);
}

/* Style the heading */
h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

#btn-email {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

/* style for the div container */
#nome {
    margin: auto;
    justify-content: center;
    padding: 10px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    width: 60%;
}

#nome h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-right: 10px;
}

#nome input[type=text] {
    padding: 8px;
    border: 1px solid #f04747;
    border-radius: 4px;
    box-sizing: border-box;
    width: 45%;
    font-size: 16px;
    background: transparent;
    color: #200707;
    animation: shake 0.14s 3;
}

#nome input:valid {
    border-color: #45feaf;
    animation: none;
}

#nome #busca input:valid {
    border-color: #000000;
    animation: none;
}

#busca {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mensagem-bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mensagem {
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

#copy-button {
    margin: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#copy-button:hover {
    background-color: #3E8E41;
}

#copy-button:active {
    background-color: #3E8E41;
    transform: translateY(2px);
}