body {
    font-family: Arial, sans-serif;
    background-color: #18235a;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;  
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

a {
    color: #333;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    margin-top: 20px;
    color: #333;
}